       body {
           background-color: greenyellow;
       }
       
       #phaser-example {
           border: 3px solid white;
           width: 400px;
           height: 300px;
           margin-left: auto;
           margin-right: auto;
           margin-top: 50px;
       }


/* I CSS er der vist kun block commenting  */ 